vti_encoding:SR|utf8-nl
vti_author:SR|CYBERBOX\\yoaniyo
vti_modifiedby:SR|CYBERBOX\\yoaniyo
vti_timelastmodified:TR|20 Jan 2012 14:36:24 -0000
vti_timecreated:TR|20 Jan 2012 13:38:47 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|index.htm node01-04.htm node01-05.htm node04-01.htm node01-02.htm node01-03.htm node02-03.htm node03.htm menu.htm node01-01.htm node02-01.htm node02-02.htm node01-06.htm node04-02.htm node04-03.htm node04-04.htm
vti_nexttolasttimemodified:TW|20 Jan 2012 14:35:48 -0000
vti_cacheddtm:TX|20 Jan 2012 14:36:24 -0000
vti_filesize:IR|307
